@media (max-width: 767px) {

 .intro-divider {
    width: 100%;
  }

}


@media (max-width: 991px) {

  .dropdown-menu {
    display: block;
    padding: 1rem;
  }

}


@media (max-width: 576px) {

  .btn {
    width: 100%;
  }

  .intro-message {
    h1 {
      font-size:2em;
    }
  }

  .banner-social-buttons {
    .list-inline-item {
      width:100%;
    }
  }

}
