@import "template/bootstrap4/variables";
@import "bootstrap4/bootstrap";

@import "template/base";
@import "template/content-override";
@import "template/typo";
@import "template/carousel";
@import "template/responsive";